<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"><body>

<div class="container">
    <form action="/user/signup" method="post">
        <div class="form-group">
            <label for ="id">이메일(ID)</label>
            <input type="email" id="id" name="id">

            <label for = "pwd">비밀번호</label>
            <input type="password" id="pwd" name="pwd">

            <label for="name">이름</label>
            <input type="text" id="name" name="name">

            <label for="phone">핸드폰 번호</label>
            <input type="number" id="phone" name="phone">

            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" name="nickname">
        </div>
        <button type="submit">가입하기</button>
    </form>
</div> <!-- /container -->
</body>
</html>